footer(class= 'page-footer')
  div(class='layout-center')
    div(class='page-footer__column section')
      h2(class='section__title') О нашей компании
      img(src="img/logo-footer.png" alt="")
      p Сервис проката туристического снаряжения для активного отдыха в Волгограде.
